@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/****************************** 

NAV 

*******************************/

nav {
  height: 80px;
  display: flex;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
.logo {
  width: 160px;
}
.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #d6428e;
}

.nav__link:hover {
  text-decoration: underline;
}

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}
a {
  justify-content: space-between;
  padding: 5px;
  text-decoration: none;
}
.menus__bar {
  border-left: 1px solid black;
}
a:hover {
  text-decoration: underline;
}
